*, *:before, *:after {
    box-sizing: border-box;
  }

* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
}

body {
    margin: 0;
}

h1 {
    background: rgb(98, 195, 252);
    color: white;
    margin: 0;
    text-align: center;
    padding: 50px 0;
    
}

form {
    text-align: center;
    margin: 10px;
}

li, input {
    font-size: 16px;
    list-style-type: none;
}

li {
    margin: 5px;
    background-color: darkorange;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 37px;
    line-height: 37px;
}

i {
    background-color: Dodgerblue;
    color: white;
    padding: 12px 12px;
    height: 37px;
    width: 37px;
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#listContainer {
    margin: 0 auto;
    font-size: 16px;
    width: 75%;
}

p {
    display: inline;
}

ul {
    text-align: left;
    margin: auto;
}

input:checked + p {
    text-decoration: line-through;
    color: rgb(226, 44, 44);
}



.checkbox {
    display: inline;
    position: absolute;
    top: 17px;
    left: 10px;
    transform: translatey(-50%);
}

#resetBtn {
    font-size: 16px;
}

.fa-arrow-down {
    top: 0px;
    right: 37px;
}

.fa-arrow-up {
    top: 0px;
    right: 74px;
}