h1 {
    text-align: center;
    color: darkblue;
}

body {
    background: pink;
}

form {
    text-align: center;
}

button {
    display: inline;
}

ul {
    color: darkblue;
}

#task-list {
    display: list-item;
}