h1 {
    text-align: center;
    color: darkblue;
}

body {
    background: pink;
}

form {
    text-align: center;
}

button {
    display: inline;
}

#listContainer {
    margin: 0 auto;
    width: 300px;
}

p {
    display: inline;
}

ul {
    color: darkblue;
    list-style-position: inside;
    text-align: left;
    padding: 0;
}

.checked {
    text-decoration: line-through;
}

.unchecked {
    text-decoration: none;
}